:root {
  --english-violet: #44355bff;
  --dark-purple: #31263eff;
  --raisin-black: #221e22ff;
  --hunyadi-yellow: #eca72cff;
  --flame: #ee5622ff;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #44355bff;
}

.navbar>nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 10px;
  color: #eca72cff;
}

.navbar>nav>a {
  color: #eca72cff;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  padding: 0 20px;
}

.date {
  margin-top: 50px;
}

.date>p {
  text-align: center;
}

.mat-divider {
  height: 15px;
  border-right-color: #eca72cff !important;
}