:root {
  --english-violet: #44355bff;
  --dark-purple: #31263eff;
  --raisin-black: #221e22ff;
  --hunyadi-yellow: #eca72cff;
  --flame: #ee5622ff;
}

.users {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid #ee5622ff;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px;
  width: 180px;
  height: 200px;
  text-align: center;
}

.user>img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.user>a {
  font-weight: 400;
  color: #eca72cff;
  text-decoration: none;
}

.user>a:hover {
  text-decoration: underline;
}