.container {
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.table>tr {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.table>tr>td,
.table>tr>th {
  width: 100%;
  text-align: start;
}

.td__last,
.th__last {
  text-align: center;
}

.btn__remove {
  position: absolute;
  right: 0;
}
