.container {
  padding: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.table>tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.table>tr>td,
.table>tr>th {
  width: 100%;
  text-align: flex-start;
}

.table>tr>td:last-child,
.table>tr>th:last-child {
  text-align: center;
}