:root {
  --english-violet: #44355bff;
  --dark-purple: #31263eff;
  --raisin-black: #221e22ff;
  --hunyadi-yellow: #eca72cff;
  --flame: #ee5622ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin-top: 100px;
}

.container>h1 {
  color: #EE5622;
}

.info {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  max-width: 100%;
  width: 600px;
}


.info>button {
  align-self: center;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__me,
.find__me,
.hobbies {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  font-weight: 500;
}

.about__me>h3,
.find__me>h3,
.hobbies>h3 {
  margin: 0;
  color: #ECA72C;
}

.hobbies>ul {
  margin: 0;
  padding-left: 20px;
}

.find__me>a {
  color: #fff;
}

.btn__info,
.btn__info__active {
  padding: 10px;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1em;
}

.btn__info {
  background-color: rgb(68, 53, 91);
}

.btn__info__active {
  background-color: rgba(49, 38, 62);
}

.btn__info:hover {
  cursor: pointer;
  background-color: rgba(68, 53, 91, .7);
}

.btn__info__active:hover {
  cursor: pointer;
  background-color: rgba(49, 38, 62, .7);
}