:root {
  --english-violet: #44355bff;
  --dark-purple: #31263eff;
  --raisin-black: #221e22ff;
  --hunyadi-yellow: #eca72cff;
  --flame: #ee5622ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.header>h1 {
  color: #EE5622;
  margin: 0;
}

.info {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  max-width: 100%;
  width: 600px;
}

@media(max-width: 768px) {
  .info {
    width: 100%;
  }
}

.info>button {
  align-self: center;
}

